@import "../blocks/style";
@import "../blocks/splach";
@import "../blocks/section/header";
//---------------------------------//

.home {
    overflow: hidden;
    &__splach{
        gap: 30px;
    }
}

// ---------------- //
.intro {
    position: relative;
    text-align: center;
    color: #ffffff;

    min-height: 600px;
    width: 100%;

    background-image: url("/image/home/home-h.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    &__title {
        width: 315px;
        height: 138px;

        position: absolute;
        left: calc(50% - 315px/2);
        top: calc(50% - 138px/2);
        @include h1;
    }
    &__btn {
        width: 42px;
        height: 42px;

        position: absolute;
        left: calc(50% - 42px/2);
        bottom: 30px;

        margin: 0;

        cursor: pointer;
        border: none;
        background: none;
        
        img {
            padding: 15px 12px;
            opacity: 0.5;
            width: 18px;
            height: 9px;

            border-radius: 100%;
            border: 2px solid #FFFFFF;

            &:hover {
                border-color: $accent;
            }
        }
    }
}

// ---------------- //
.experience {
    width: 100%;

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__tabs {
        display: flex;
        width: 100%;
        gap: 30px;
        margin-bottom: 30px;
        
        label {
            cursor: pointer;
            @include h2;
            color: $text;

            &:hover {
                color: $accent;
            }
        }
        
    }

    & input {
        display: none;
    }

    & input[id="tab1"]:checked~ &__content label[for="tab1"],
    & input[id="tab2"]:checked~ &__content label[for="tab2"],
    & input[id="tab3"]:checked~ &__content label[for="tab3"],
    & input[id="tab4"]:checked~ &__content label[for="tab4"] {
        background: $gragient-red-text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    & input[id="tab1"]:checked~ &__content .tab1,
    & input[id="tab2"]:checked~ &__content .tab2,
    & input[id="tab3"]:checked~ &__content .tab3,
    & input[id="tab4"]:checked~ &__content .tab4 {
        display: block;
    }

    &__items {
        display: flex;
        flex-direction: column;
        &::before {
            content: '';
            display: block;
            height: 4px;
            width: 100%;
            margin-bottom: 30px;
            background:  rgba(255, 255, 255, 0.3);
        }
    }
    &__article {
        display: none;
        max-width: 100%;
        width: 100%;
        color: #ffffff;
    }

    &__title {
        @include titles(20px, 24px);
        margin-bottom: 30px;
    }

    &__text {
        @include text(30px, 19px);
    }
}

// Media home
@media screen and (min-width: 720px) {
    .home {
        &__splach {
            gap: 60px;
        }
    }
    .intro {
        min-height: 1024px;
        background-size: cover;

        &__title {
            width: 800px;
            height: 46px;
            left: calc(50% - 800px/2);
            top: calc(50% - 46px/2);
        }

        
    }
    .experience__tabs {
        label {
            @include h1; 
        }
    }
    .experience__title {
        @include h2;
    }
}

@media screen and (min-width: 1024px) {
    .intro {
        min-height: 768px;
        background-size: contain;
    }
    
    .experience__content { 
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .experience__tabs {
        flex-direction: column;
        align-items: flex-end;
        max-width: 375px;
        margin-bottom: 0;
    }
    .experience__article {
        max-width: 405px;
    }
    .experience__items {
        flex-direction: row;
        align-items: center;
        &::before {
            display: block;
            margin: 0 60px;
            height: 303px;
            width: 4px;
        }
    }
}

@media screen and (min-width: 1440px) {
    .intro {
        min-height: 800px;
    }
    .experience__article {
        max-width: 580px;
    }
}

@media screen and (min-width: 1920px) {
    .intro {
        min-height: 1000px;
    }
    .experience__article {
        max-width: 860px;
    }
}
//---------------------------------//
@import "../blocks/section/services-intro";
@import "../blocks/section/footer";