@import "../blocks/style";
@import "../blocks/splach";
@import "../blocks/section/header";
//---------------------------------//

.home {
    overflow: hidden;
    &__splach{
        gap: 30px;
    }
}

// ---------------- //
.intro {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;

    text-align: center;
    color: #ffffff;

    min-height: 600px;
    width: 100%;



    background-image: url("../../../image/home/home-h.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        max-width: 315px;
        width: 100%;
        margin: 0 auto;
        @include h1;
    }

    &__btn {
        max-width: 42px;
        width: 100%;

        margin-top: 160px;
        margin-bottom: 30px;

        padding: 5px 0 0;

        border: none;
        cursor: pointer;
        background: none;

        img {
            padding: 15px 12px;
            opacity: 0.5;
            width: 18px;
            height: 9px;

            border-radius: 100%;
            border: 2px solid #FFFFFF;

            &:hover {
                border-color: $accent;
            }
        }
    }
}


// ---------------- //
.experience {
    width: 100%;

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__tabs {
        display: flex;
        width: 100%;
        gap: 30px;
        margin-bottom: 30px;
        
        
        label {
            white-space: nowrap;
            cursor: pointer;
            @include h2;
            color: $text;

            &:hover {
                color: $accent;
            }
        }
    }

    & input {
        display: none;
    }

    & input[id="tab1"]:checked~ &__content label[for="tab1"],
    & input[id="tab2"]:checked~ &__content label[for="tab2"],
    & input[id="tab3"]:checked~ &__content label[for="tab3"],
    & input[id="tab4"]:checked~ &__content label[for="tab4"] {
        background: $gragient-red-text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    & input[id="tab1"]:checked~ &__content .tab1,
    & input[id="tab2"]:checked~ &__content .tab2,
    & input[id="tab3"]:checked~ &__content .tab3,
    & input[id="tab4"]:checked~ &__content .tab4 {
        display: block;
    }


    &__items {
        display: flex;
        flex-direction: column;

        &::before {
            content: '';
            display: block;
            height: 4px;
            width: 100%;
            margin-bottom: 30px;
            background:  rgba(255, 255, 255, 0.3);
        }
    }

    &__article {
        display: none;
        max-width: 100%;
        width: 100%;
        color: #ffffff;
    }


    &__title {
        @include titles(20px, 24px);
        margin-bottom: 30px;
    }

    &__text {
        @include text(30px, 19px);
    }
}

// ---------------- //
.team {
    margin: 30px 0 60px;

    &__slider {
        position: relative;
        overflow: hidden;
    }
    
    &__slide {
        display: none;
        flex-direction: column;

        background: #F5F5FA;
        border-radius: 12px;
        overflow: hidden;
    }

    &__photo {
        display: flex;
        justify-content: center;
        max-height: 500px;
    }
    
    &__content {
        padding: 30px;
    }
    

    &__title {
        @include h2;

        background: $gragient-red-text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

        margin-top: 5px;
    }

    &__author {
        line-height: 20px;
        font-weight: 700;
        color: $text;

        margin: 30px 0 6px;
    }

    &__text {
        @include text(22px);
        color: $text;
    }

	&__dots {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 15px;
		margin-top: 30px;
	}

	&__dot {
		width: 16px;
		height: 16px;

		border-radius: 50%;
		background: $active;
		opacity: 0.2;
		
        cursor: pointer;

		&.active {
			opacity: 1;
		}
	}
}

// ---------------- //
// Media home
@media screen and (min-width: 800px) {
    .home {
        &__bg {
            gap: 60px;
        }
    }
    .intro {
        min-height: 1024px;
        background-size: cover;

        &__title {
            max-width: 800px;
        }

        &__btn {
            margin-top: 420px;
        }
    }
    .experience{
        &__tabs 
        label {
            @include h1; 
        }
        &__title {
            @include h2;
        }
    }

    .team {
        margin-top: 60px;
        &__photo {
            img {
                width: 100%;
            }
        }
        &__title {
            @include h1;
        }
    }
}

@media screen and (min-width: 1024px) {
    .intro {
        min-height: 768px;
        background-size: contain;
        &__btn {
            margin-top: 290px;
        }
    }
    
    .experience {
        &__content { 
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        &__tabs {
            flex-direction: column;
            align-items: flex-end;
            max-width: 375px;
            margin-bottom: 0;
        }
        &__article {
            max-width: 405px;
        }
        &__items {
            flex-direction: row;
            align-items: center;
            &::before {
                display: block;
                margin: 0 60px;
                height: 303px;
                width: 4px;
            }
        }
    }

	.team {
		&__slide {
			flex-direction: row;
		}
		&__photo {
            max-height: 600px;
			img {
				width: 400px;
                object-fit: cover;
			}
		}
	}
}

@media screen and (min-width: 1440px) {
    .intro {
        min-height: 800px;
        
        &__btn {
            margin-top: 405px;
        }
    }
    .experience__article {
        max-width: 580px;
    }
    .team {
		&__photo {
            max-height: 360px;
		}
	}
}

@media screen and (min-width: 1920px) {
    .intro {
        min-height: 1000px;

        &__btn {
            margin-top: 305px;
        }
    }
    .experience__article {
        max-width: 860px;
    }
    .team {
		&__photo {
            max-height: 310px;
		}
	}
}

//---------------------------------//
@import "../blocks/section/services-intro";
@import "../blocks/section/footer";