[class*="__splach"] {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 60px;
    /* Gradient / Supersoft */
    background: $gragient-supersoft;
    border-radius: 0px 0px 12px 12px;
	box-shadow: 0 10px #CACADB;
	//box-shadow: 0 20px #E7E7F2;
}
