@import "../blocks/style";

.home {
    &__splach{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 0px 60px;
        gap: 30px;
        

        /* Gradient / Supersoft */
        background: $gragient-supersoft;
        border-radius: 0px 0px 12px 15px;
    }
}
@import "../blocks/section/header";
@import "../blocks/section/intro";
@import "../blocks/section/services-intro";
@import "../blocks/section/footer";