@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "./vars";
@import "./mixin";
@import "./reset";

html,
body {
    font-weight: 400;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 26px;
}
.container {
    max-width: 315px;
    width: 100%;
    margin: 0 auto;
    
}

.page__links {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;

    color: $active;
    transition: color .2s ease-in;

    &:hover {
        color: $accent;
    }
}


@media screen and(min-width:720px) {
    .container {
        max-width: 640px;
    }
}
@media screen and(min-width: 1024px) {
    .container {
        max-width: 900px;
    }
}
@media screen and(min-width: 1440px) {
    .container {
        max-width: 1320px;
    }
}
@media screen and(min-width: 1920px) {
    .container {
        max-width: 1600px;
    }
}