@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "./vars";
@import "./mixin";
@import "./reset";

html,
body {
    font-weight: 400;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 26px;
}
.container {
    max-width: 315px;
    width: 100%;
    margin: 0 auto;
}
