.intro {
    text-align: center;
    color: #ffffff;

    min-height: 600px;
    width: 100%;

    background-image: url("/image/home/home-h.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;

    &__title {
        margin-top: 50%;
        @include h1;
    }
}