@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"); /*- Color from main to gradient -*/
/*-  Gray-*/
/*-  Gray text-*/
/*-  Grey separator -*/
/*- Gragient -*/
/*- Mixins -*/ /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

html,
body {
  font-weight: 400;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 26px;
}

.container {
  max-width: 315px;
  width: 100%;
  margin: 0 auto;
}

.page__links {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #24A3FF;
  transition: color 0.2s ease-in;
}
.page__links:hover {
  color: #F0145A;
}

@media screen and (min-width: 800px) {
  .container {
    max-width: 640px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 900px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1600px;
  }
}
[class*=__bg] {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  /* Gradient / Supersoft */
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
  gap: 30px;
  color: #fff;
}

[class*=__shadow-second]::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: calc(100% - 80px);
  height: 10px;
  background-color: #E7E7F2;
  border-radius: 0px 0px 12px 12px;
}

[class*=__shadow-first]::after {
  content: "";
  display: block;
  width: calc(100% - 40px);
  height: 10px;
  margin: 0 auto;
  background-color: #CACADB;
  border-radius: 0px 0px 12px 12px;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding-bottom: 4%;
  z-index: 1;
  background-color: white;
}

.logo {
  display: flex;
  width: 50%;
  padding-left: 3%;
}
.logo__img {
  width: 100%;
}

.language #tab-1,
.language #tab-2 {
  display: none;
}
.language__uk::before, .language__en::before {
  position: absolute;
  top: 3%;
  padding: 5px;
  color: #B3B3BA;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 6px;
}
.language__en::before {
  content: "EN";
  left: 3%;
}
.language__uk::before {
  content: "УК";
  left: 14%;
}
#tab-1:checked + .language__en::before, #tab-2:checked + .language__uk::before {
  color: white;
  background-color: #F0145A;
}

.information {
  display: flex;
  justify-content: end;
  padding: 3%;
  background-color: rgba(245, 245, 250, 0.2);
}
.information__address {
  display: none;
}
.information__number {
  color: #B3B3BA;
  font-weight: bold;
}
.information__facebook {
  display: none;
}

#toggle {
  display: none;
}

.toggle::before {
  content: "☰";
  position: absolute;
  left: 90%;
  top: 52%;
  padding: 0.5%;
  border-radius: 6px;
  font-size: 1.5rem;
  color: #323264;
}

#toggle:checked + .toggle::before {
  position: absolute;
  left: 90%;
  top: 52%;
  background-color: #E6E6F0;
}

.menu {
  display: none;
  padding: 5% 0% 2% 0%;
  background-color: white;
}
.menu__linkChoose {
  display: block;
  color: #F0145A;
  font-size: 1.3rem;
  font-weight: bold;
}
.menu__link {
  display: block;
  color: #24A3FF;
  font-size: 1.3rem;
  font-weight: bold;
  transition: all 0.5s;
}
.menu__link:hover {
  color: #F0145A;
  transition: all 0.5s;
}

#toggle:checked ~ .menu {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: fixed;
  top: 50vh;
  width: 100%;
  border-radius: 6px;
  line-height: 9vh;
}

@media screen and (min-width: 480px) {
  .header {
    position: fixed;
    left: 0;
    top: 0;
    padding-bottom: 0%;
  }
  .logo {
    position: absolute;
    top: 38%;
    width: 20%;
  }
  .information {
    display: flex;
    justify-content: space-between;
    padding-left: 25%;
    padding-right: 15%;
  }
  .information__address {
    display: block;
    color: #B3B3BA;
    font-weight: bold;
    font-size: 0.8rem;
  }
  .information__number {
    color: #B3B3BA;
    font-weight: bold;
    font-size: 0.8rem;
  }
  .information__facebook {
    display: block;
  }
  .information__img {
    position: absolute;
    top: 15%;
    width: 1.2rem;
  }
  .toggle::before {
    display: none;
  }
  .menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
  .menu__linkChoose {
    font-size: 1rem;
    position: relative;
  }
  .menu__linkChoose::before {
    content: "";
    position: absolute;
    top: 100%;
    height: 4px;
    width: 100%;
    background-color: #F0145A;
  }
  .menu__link {
    font-size: 1rem;
    position: relative;
  }
  .language__uk::before, .language__en::before {
    position: absolute;
    top: 6%;
  }
}
@media screen and (min-width: 800px) {
  .header {
    position: fixed;
    left: 0;
    top: 0;
    padding-bottom: 0%;
  }
  .logo {
    position: absolute;
    top: 5%;
    width: 20%;
  }
  .information {
    position: absolute;
    left: 70%;
    top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
    width: 25%;
    background-color: white;
  }
  .information__address {
    display: block;
    color: #B3B3BA;
    font-weight: bold;
    font-size: 0.8rem;
  }
  .information__number {
    color: #B3B3BA;
    font-weight: bold;
    font-size: 0.8rem;
  }
  .information__facebook {
    display: block;
  }
  .information__img {
    width: 1.2rem;
  }
  .language__uk::before, .language__en::before {
    position: absolute;
    top: 7%;
  }
  .language__uk::before {
    left: 65%;
  }
  .language__en::before {
    left: 60%;
  }
  .language .toggle::before {
    display: none;
  }
  .language .menu__linkChoose {
    font-size: 1rem;
    position: relative;
  }
  .language .menu__linkChoose::before {
    content: "";
    position: absolute;
    top: 100%;
    height: 4px;
    width: 100%;
    background-color: #F0145A;
  }
  .language .menu__link {
    font-size: 1rem;
    position: relative;
  }
}
.home {
  overflow: hidden;
}
.home__splach {
  gap: 30px;
}

.intro {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;
  min-height: 600px;
  width: 100%;
  background-image: url("../../../image/home/home-h.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.intro__title {
  max-width: 315px;
  width: 100%;
  margin: 0 auto;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
}
.intro__btn {
  max-width: 42px;
  width: 100%;
  margin-top: 160px;
  margin-bottom: 30px;
  padding: 5px 0 0;
  border: none;
  cursor: pointer;
  background: none;
}
.intro__btn img {
  padding: 15px 12px;
  opacity: 0.5;
  width: 18px;
  height: 9px;
  border-radius: 100%;
  border: 2px solid #FFFFFF;
}
.intro__btn img:hover {
  border-color: #F0145A;
}

.experience {
  width: 100%;
}
.experience__content {
  display: flex;
  flex-direction: column;
}
.experience__tabs {
  display: flex;
  width: 100%;
  gap: 30px;
  margin-bottom: 30px;
}
.experience__tabs label {
  white-space: nowrap;
  cursor: pointer;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #B3B3BA;
}
.experience__tabs label:hover {
  color: #F0145A;
}
.experience input {
  display: none;
}
.experience input[id=tab1]:checked ~ .experience__content label[for=tab1], .experience input[id=tab2]:checked ~ .experience__content label[for=tab2], .experience input[id=tab3]:checked ~ .experience__content label[for=tab3], .experience input[id=tab4]:checked ~ .experience__content label[for=tab4] {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.experience input[id=tab1]:checked ~ .experience__content .tab1, .experience input[id=tab2]:checked ~ .experience__content .tab2, .experience input[id=tab3]:checked ~ .experience__content .tab3, .experience input[id=tab4]:checked ~ .experience__content .tab4 {
  display: block;
}
.experience__items {
  display: flex;
  flex-direction: column;
}
.experience__items::before {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.3);
}
.experience__article {
  display: none;
  max-width: 100%;
  width: 100%;
  color: #ffffff;
}
.experience__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
}
.experience__text {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
}

.team {
  margin-top: 30px;
}
.team__slider {
  position: relative;
  overflow: hidden;
}
.team__slide {
  display: none;
  flex-direction: column;
  background: #F5F5FA;
  border-radius: 12px;
  overflow: hidden;
}
.team__photo {
  display: flex;
  justify-content: center;
  max-height: 500px;
}
.team__content {
  padding: 30px;
}
.team__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: 5px;
}
.team__author {
  line-height: 20px;
  font-weight: 700;
  color: #B3B3BA;
  margin: 30px 0 6px;
}
.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #B3B3BA;
}
.team__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
}
.team__dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #24A3FF;
  opacity: 0.2;
  cursor: pointer;
}
.team__dot.active {
  opacity: 1;
}

@media screen and (min-width: 800px) {
  .home__bg {
    gap: 60px;
  }
  .intro {
    min-height: 1024px;
    background-size: cover;
  }
  .intro__title {
    max-width: 800px;
  }
  .intro__btn {
    margin-top: 420px;
  }
  .experience__tabs label {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
  }
  .experience__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
  }
  .team {
    margin-top: 60px;
  }
  .team__photo img {
    width: 100%;
  }
  .team__title {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
  }
}
@media screen and (min-width: 1024px) {
  .intro {
    min-height: 768px;
    background-size: contain;
  }
  .intro__btn {
    margin-top: 290px;
  }
  .experience__content {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .experience__tabs {
    flex-direction: column;
    align-items: flex-end;
    max-width: 375px;
    margin-bottom: 0;
  }
  .experience__article {
    max-width: 405px;
  }
  .experience__items {
    flex-direction: row;
    align-items: center;
  }
  .experience__items::before {
    display: block;
    margin: 0 60px;
    height: 303px;
    width: 4px;
  }
  .team__slide {
    flex-direction: row;
  }
  .team__photo {
    max-height: 600px;
  }
  .team__photo img {
    width: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (min-width: 1440px) {
  .intro {
    min-height: 800px;
  }
  .intro__btn {
    margin-top: 405px;
  }
  .experience__article {
    max-width: 580px;
  }
  .team__photo {
    max-height: 360px;
  }
}
@media screen and (min-width: 1920px) {
  .intro {
    min-height: 1000px;
  }
  .intro__btn {
    margin-top: 405px;
  }
  .experience__article {
    max-width: 860px;
  }
  .team__photo {
    max-height: 310px;
  }
}
.services__intro {
  color: #ffffff;
  width: 100%;
}
.services__intro__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 10px;
}
.services__intro__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}
.services__intro__item {
  width: 100%;
}
.services__intro__icon {
  position: relative;
  width: 92px;
  height: 92px;
  background-color: #ffffff;
  border-radius: 24px;
  margin-bottom: 30px;
  cursor: pointer;
}
.services__intro__icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 64px;
}
.services__intro__title-link {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #24A3FF;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease-in;
}
.services__intro__title-link:hover {
  color: #0085FF;
}
.services__intro__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 15px;
}

@media screen and (min-width: 480px) {
  .services__intro__content {
    margin-top: 60px;
    gap: 60px;
  }
  .services__intro__item {
    max-width: 290px;
  }
}
@media screen and (min-width: 800px) {
  .services__intro__title {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
  }
}
@media screen and (min-width: 1024px) {
  .services__intro__item {
    max-width: 260px;
  }
}
@media screen and (min-width: 1440px) {
  .services__intro__item {
    max-width: 400px;
  }
}
@media screen and (min-width: 1920px) {
  .services__intro__item {
    max-width: 490px;
  }
}
.services__cliens {
  margin: 60px 0;
  text-align: center;
}
.services__cliens__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  margin-bottom: 30px;
}
.services__cliens__content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.rows {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  max-width: 100%;
  width: 100%;
}
.rows__item {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  height: 120px;
  cursor: pointer;
}
.rows__item img {
  max-width: 50%;
  height: auto;
}
.rows__item-hidden {
  display: none;
}
.rows__item:hover {
  opacity: 0.7;
}

.dark-blue {
  background: #1C4280;
}

.blue {
  background: #143646;
}

.orenge-bg {
  background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
}

.purple {
  background: #9E4DC3;
}

.orenge {
  background: #FD9339;
}

.light-yellow {
  background: #E2E2E4;
}

.red {
  background: #C71C36;
}

.light-white {
  background: #DCF3F9;
}

.light-yellow2 {
  background: #EAEAEA;
}

.dark-purple {
  background: #282240;
}

.dark-blue2 {
  background: #1D4568;
}

.dark-purple {
  background: #282240;
}

.dark {
  background: #000000;
}

@media screen and (min-width: 800px) {
  .rows {
    grid-template-columns: repeat(3, 1fr);
  }
  .rows__item-hidden {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .rows {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1440px) {
  .rows__item img {
    max-width: 40%;
  }
}
@media screen and (min-width: 1920px) {
  .rows__item img {
    max-width: 30%;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
.footer__address {
  display: block;
  color: #B3B3BA;
  font-weight: bold;
  font-size: 0.8rem;
  padding-bottom: 2%;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact > li {
  padding-bottom: 6%;
}
.contact__number {
  color: #B3B3BA;
  font-weight: bold;
  font-size: 0.8rem;
}
.contact__facebook {
  display: block;
}
.contact__img {
  width: 1.2rem;
}
.contact__email {
  color: #24A3FF;
}
.contact__email:hover {
  color: #F0145A;
}