@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"); /*- Color from main to gradient -*/
/*-  Gray-*/
/*-  Gray text-*/
/*-  Grey separator -*/
/*- Gragient -*/
/*- Mixins -*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  font-weight: 400;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 26px;
}

.container {
  max-width: 315px;
  width: 100%;
  margin: 0 auto;
}

.page__links {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #24A3FF;
  transition: color 0.2s ease-in;
}
.page__links:hover {
  color: #F0145A;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 640px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 900px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1600px;
  }
}
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding-bottom: 4%;
  z-index: 1;
}

.logo {
  display: flex;
  width: 50%;
  padding-left: 3%;
}
.logo__img {
  width: 100%;
}

.language #tab-1,
.language #tab-2 {
  display: none;
}
.language__uk::before, .language__en::before {
  position: absolute;
  top: 3%;
  padding: 5px;
  color: #B3B3BA;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 6px;
}
.language__en::before {
  content: "EN";
  left: 3%;
}
.language__uk::before {
  content: "УК";
  left: 14%;
}
#tab-1:checked + .language__en::before, #tab-2:checked + .language__uk::before {
  color: white;
  background-color: #F0145A;
}

.information {
  display: flex;
  justify-content: end;
  padding: 3%;
  background-color: rgba(245, 245, 250, 0.2);
}
.information__address {
  display: none;
}
.information__number {
  color: #B3B3BA;
  font-weight: bold;
}
.information__facebook {
  display: none;
}

#toggle {
  display: none;
}

.toggle::before {
  content: "☰";
  position: absolute;
  left: 90%;
  top: 52%;
  padding: 0.5%;
  border-radius: 6px;
  font-size: 1.5rem;
  color: #323264;
}

#toggle:checked + .toggle::before {
  position: absolute;
  left: 90%;
  top: 52%;
  background-color: #E6E6F0;
}

.menu {
  display: none;
  padding: 5%;
  background-color: white;
}
.menu__linkChoose {
  display: block;
  color: #F0145A;
  font-size: 1.3rem;
  font-weight: bold;
}
.menu__link {
  display: block;
  color: #24A3FF;
  font-size: 1.3rem;
  font-weight: bold;
  transition: all 0.5s;
}
.menu__link:hover {
  color: #F0145A;
  transition: all 0.5s;
}

#toggle:checked ~ .menu {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: fixed;
  top: 50vh;
  width: 100%;
  border-radius: 6px;
  line-height: 9vh;
}

@media screen and (min-width: 480px) {
  .header {
    position: fixed;
    left: 0;
    top: 0;
    padding-bottom: 0%;
  }
  .information {
    display: flex;
    justify-content: space-between;
    padding-left: 25%;
    padding-right: 15%;
  }
  .information__address {
    display: block;
    color: #B3B3BA;
    font-weight: bold;
    font-size: 0.8rem;
  }
  .information__number {
    color: #B3B3BA;
    font-weight: bold;
    font-size: 0.8rem;
  }
  .information__facebook {
    display: block;
  }
  .information__img {
    position: absolute;
    top: 6%;
    width: 1.2rem;
  }
  .toggle::before {
    display: none;
  }
  .menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
  .menu__linkChoose {
    font-size: 1rem;
    position: relative;
  }
  .menu__linkChoose::before {
    content: "";
    position: absolute;
    top: 100%;
    height: 4px;
    width: 100%;
    background-color: #F0145A;
  }
  .menu__link {
    font-size: 1rem;
    position: relative;
  }
  .language__uk::before, .language__en::before {
    position: absolute;
    top: 6%;
  }
}
@media screen and (min-width: 768px) {
  .header {
    position: fixed;
    left: 0;
    top: 0;
    padding-bottom: 0%;
  }
  .logo {
    position: absolute;
    top: 5%;
    width: 20%;
  }
  .information {
    position: absolute;
    left: 70%;
    top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
    width: 25%;
    background-color: white;
  }
  .information__address {
    display: block;
    color: #B3B3BA;
    font-weight: bold;
    font-size: 0.8rem;
  }
  .information__number {
    color: #B3B3BA;
    font-weight: bold;
    font-size: 0.8rem;
  }
  .information__facebook {
    display: block;
  }
  .information__img {
    width: 1.2rem;
  }
  .language__uk::before, .language__en::before {
    position: absolute;
    top: 7%;
  }
  .language__uk::before {
    left: 65%;
  }
  .language__en::before {
    left: 60%;
  }
  .language .toggle::before {
    display: none;
  }
  .language .menu {
    padding: 0;
  }
  .language .menu__linkChoose {
    font-size: 1rem;
    position: relative;
  }
  .language .menu__linkChoose::before {
    content: "";
    position: absolute;
    top: 100%;
    height: 4px;
    width: 100%;
    background-color: #F0145A;
  }
  .language .menu__link {
    font-size: 1rem;
    position: relative;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
.footer__address {
  display: block;
  color: #B3B3BA;
  font-weight: bold;
  font-size: 0.8rem;
  padding-bottom: 6%;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact > li {
  padding-bottom: 6%;
}
.contact__number {
  color: #B3B3BA;
  font-weight: bold;
  font-size: 0.8rem;
}
.contact__facebook {
  display: block;
}
.contact__img {
  width: 1.2rem;
}
.contact__email {
  color: #24A3FF;
}
.contact__email:hover {
  color: #F0145A;
}